/*
D5205A - pink
69B578 - emerald green
3A7D44 - fern green
*/

/* HIDDEN CLASS */
.hidden{
    display: none;
}
/**/

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin: 30px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #ffffff;
}
button:hover {
  cursor: pointer;
}

/* Headings */

.bigheading {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: black;
  margin: auto;
  margin-top: 0;
}
#subheading {
  font-family: "Oswald", sans-serif;
  margin-top: 5px;
  padding-top: 0;
  font-weight: 300;
  font-size: 27px;
  text-align: center;
}

/*Switch-dashboard menu*/

#switch-dashboard button {
  color: black;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-left: 20px;
  margin-left: 0;
}
#switch-dashboard button::before {
  margin-left: auto;
}

#switch-dashboard button::after,
#switch-dashboard button::before {
  content: "";
  width: 0%;
  height: 2px;
  background: #43bfc2;
  display: block;
  transition: 0.5s;
}

#switch-dashboard button:hover::after,
#switch-dashboard button:hover::before {
  width: 100%;
}
/* Submit app */
#submit-new {
    padding-left: 20px;
    margin:0;
}
#app-name-text{
    height: 25px;
    width: 250px;
}
#submit-app{
    border: none;
    height: 30px;
    width: 85px;
    background:#43BFC2;
    margin-bottom:0;
}
#submit-app:hover{
    background-color:#32927C;
    transition: margin-right 2s ease-in-out .5s;
}
#submit-app p{
    color: white;
    font-weight:600;
    margin:0;
    text-align:left;
    font-size: 18px;
}
/* LOGIN AND LOGOUT button top right corner */
#login-and-logout{
    border: none;
    height: 30px;
    width: 70px;
    background:#43BFC2;
    margin-bottom:0;
}
#login-and-logout:hover{
    background-color:#32927C;
    transition: margin-right 2s ease-in-out .5s;
}
#login-and-logout p{
    color: white;
    font-weight:600;
    margin:0;
    text-align:left;
    font-size: 18px;
}

/*Log buttons de pe login.html*/
.log-buttons{
    border: none;
    height: 90px;
    width: 210px;
    background:#43BFC2;
    margin-bottom:0;
    margin-left: 20px;
    margin-right: 20px;
}
.log-buttons p{
  color: white;
  font-weight:600;
  margin:0;
  text-align:center;
  font-size: 18px;
}
.log-buttons:hover{
  background-color:#32927C;
  transition: margin-right 2s ease-in-out .5s;
}

/* DEV - NO LOGIN */

#dev_view-no_login{
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  height: 253.2px;
  width: 346.41px;
}
#nologin_message{
  color: #970404;
}