.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-top: 20px;
}

.dashboard {
    background:linear-gradient(#43C2A5, #226153);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: first baseline;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    text-align: left;
    /* border: 0.5px solid black; */
}
.dashboard h2 {
    font-family: "Oswald", sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    color:white;
    font-weight:900;
    font-size:43px;
    /* align-self: center; */
}
.section{
    font-weight: 500;
    margin-top: 0;
    font-size: 23px;
    margin-bottom: 10px;
    color: #ffffff;
    width: 23vw;
    /* align-self: first baseline; */
}
.dashboard a{
    /* font-family: "Oswald", sans-serif;  */
    text-decoration: none;
    font-size: 23px;
    width: 23vw;
    margin:0;
    font-weight:500;
    color: #43BFC2;
}
.dashboard a:hover{
    /* font-family: "Oswald", sans-serif;  */
    text-shadow: 2px 2px 0px #226153;
}
/*ENDPOINTS ONLY*/

/*!!!Public!!!*/
#bug-report input{
    height: 25px;
    width: 250px;
}
#bug-report-button{
    border: none;
    height: 30px;
    width: 75px;
    background:#43BFC2;
    margin-bottom:0;
}
#bug-report-button p{
    color: white;
    font-weight:600;
    margin:0;
    text-align:left;
    font-size: 18px;
}
/*!!!Private!!!*/
