/*
6E4555 - eggplant
*/

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
}
#bigheading {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 30pt;
    text-align: center;
}